<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763247699493-29l0p15k44620pao0ed5tsdjj58jl7q5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763247699493-29l0p15k44620pao0ed5tsdjj58jl7q5</string>
	<key>API_KEY</key>
	<string>AIzaSyCX9dK0FFfANP-zr8KqtgrZbk8qFOBHabY</string>
	<key>GCM_SENDER_ID</key>
	<string>763247699493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.daniel.udemy.lojavirtual.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>loja-virtual-udemy-daniel</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-virtual-udemy-daniel.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763247699493:ios:05bb36ab27b5a5e63c01cc</string>
</dict>
</plist>