<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250837062841-hha6cfa4rluaf175dm6eaniv01jg3op4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250837062841-hha6cfa4rluaf175dm6eaniv01jg3op4</string>
	<key>API_KEY</key>
	<string>AIzaSyCqFhKr9THMfqYMZ9BERkIGKldqkDkVYyc</string>
	<key>GCM_SENDER_ID</key>
	<string>250837062841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.daniel.udemy.lojavirtual.lojaVirtual</string>
	<key>PROJECT_ID</key>
	<string>loja-de-bazar-da-lorena</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-de-bazar-da-lorena.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250837062841:ios:3765b0e1cbbd1d2d597768</string>
</dict>
</plist>